@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'rsuite/dist/rsuite.css';

:root {
  --color-background: linear-gradient(
    180deg,
    rgb(203 195 255) 0%,
    rgba(249, 251, 252, 1) 100%
  );
  --color-background-secondary: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  --color-primary: #ebd8ff;
  --color-text-black: #373737;
  --color-secondary: #5736a3;
  --color-success: #5cd3a8;
  --shadow-component: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--color-background);
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
